body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    margin-bottom: 500px;
}
.container-fluid{
    background-color: rgb(243, 234, 243);
}
.principal{
    text-align: center
}
.book-a-table{
    background-color: red;
    border-radius: 20px;
    color: white;
    height: 30px;
    padding: 5px;
}
.header{
    color: red;
    text-align: center;
}
.section{
    text-align: center;
    border: 2px solid black;
}
.section-numero{
    color: red;
}
button{
    background-color: red;
    border-radius: 20px;
    color: white;
    padding: 2px;
    margin: 2px;
}
.row-tabela{
    background-color: thistle;
}
.tabela{
    border: 2px solid white;
    margin: 25px;
    background-color: white;
}
.border{
    border: transparent;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 50px;
    margin: 5px;
    color: white;
}
.titulo-cardapio{
    color: red;
    font-size: 40px;
    text-align: end;
}
